/* Hello person who is marking the below - you'll notice a LOT is commented out. I planned for much, much more but no time to execute as I'd like. Thought I'd show my working out / design thoughts with the commented out code rather than deleting it entirely. There's not much but fingers crossed its enough to at least pass */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,300;0,400;0,600;1,100;1,300;1,400;1,600&display=swap');

/* CSS Reset - DO NOT DELETE THIS  */
html {
    box-sizing: border-box;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-weight: normal;
    color: #fff;
}
ol, ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
    orientation: center;
    border-radius: 20px;
    object-fit: cover;
}
h1 {
    font-size: 2.5rem;
}

/* Root Variable */
:root {
    background-color: #000;
    font-family: 'Noto Sans', sans-serif;
    font: #fff;
    min-width: 100%;
    --darkturq: #00ced1;
    --gold: #daa520;
    --slate: #2f4f4f;
    --paleturq: #afeeee;
    --grey: #a9a9a9;
    --lavblush: #fff0f5;
    --palegold: #eee8aa;
}

/* Custom Classes */
.emphasis {
    color: Var(--gold);
    font-style: italic;
    font-weight: bold;
}
.button, button {
    padding: 10px 20px;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 4px;
    font-size: 0.8rem;
    background-color: var(--darkturq);
    color: #000;
    text-transform: uppercase;
    margin-top: 10px;
}
.button:hover, button:hover {
    background-color: var(--gold);
    color: #000;
}

/* Header Styles */
.header {
    padding: 20px 40px;
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.header-img {
    max-height: 1px;
    max-width: 1px;
    margin: 1px;
    padding: 1px;
    border: 1px;
}
.logo {  
    padding: 20px 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 1;
    max-height: 25%;
    max-width: 25%;
}

/* Navigation Styles */
nav {
    background-color: var(--slate);
    flex-grow: 1;
    display: flex row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
}
nav a {
    display: inline-block;
    color: var(--palegold);
    font-size: 1rem;
    text-decoration: none;
    margin: 0 10px;
    padding: 0.5rem;
    border-radius: 4px;
}
nav a:hover {
    background-color: var(--gold);
    color: var(--slate);
}

/* Hero Section */
.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 250px;  
    border: 250px;
    padding: 250px;
    background-color: var(--gold);
    align-content: center;
    justify-content: center;
}
.hero-text {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
#image {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    max-height: 75%;
    max-width: 75%;
    margin: 10px;
    border: 50px solid var(--lavblush);
    padding: 10px;
}

/* Body Styles */
h1 {
    font-size: 3rem;
    padding: 1px;
    text-align: center;
}
h2 {
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 5px;
}
p {
    margin: 10px;
    border: 10px;
    padding: 10px;
}
#assistance {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}

/* Contact Form Page */
.contact {
    background-color: var(--slate);
    color: var(--grey);
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
.field-group, .contact .button {
    width: 100%;
    margin: 0 auto 10px;
}
#first-name, #last-name, #email, #textarea {
    background-color: var(--palegold);
    font-size: 1rem;
    padding: 0.5rem;
    width: 50%;
    border-radius: 4px;
}
textarea {
    height: 300px;
}
.contact .button {
    background-color: var(--gold);
    color: #fff;
}
label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: var(--gold);
}

  /* Footer Styling */
footer {
    background-color: var(--slate);
    padding: 1px;
    /* color: #000; */
    font-size: xx-small;
}

  /* Media Queries */
  @media only screen and (min-width: 600px) {
    .columns {
      flex-direction: row;
      flex-wrap: wrap;
}
   .column {
      flex-basis: 33%;
      flex-grow: 1;
    }
footer {
    font-size: large;
}
  }

  @media only screen and (min-width: 1000px) {
    .columns {
      flex-direction: row;
      flex-wrap: wrap;
}
   .column {
      flex-basis: 33%;
      flex-grow: 1;
    }
footer {
    font-size:x-large;
}
  }